<div class="auth-form">
    <h1 class="title auth-form__title">Welcome back</h1>
    <form class="auth-form__form">
        <div class="input-block__input-wrapper">
            <label class="input-block__input-label" for="login">Login</label>
            <input class="input-block__input" type="text" name="login" id="login" />
            <div class="input-block__input-error" id="login-error"></div>
        </div>
        <div class="input-block__input-wrapper">
            <label class="input-block__input-label" for="password">Password</label>
            <input class="input-block__input" type="password" name="password" id="password" />
            <div class="input-block__input-error" id="password-error"></div>
        </div>
        <div data-component="button"></div>
    </form>
    <a class="link" href="sign-up">Create account</a>
</div>
