<nav class="navbar">
    <ul class="navbar__list">
        {{#each pages}}
        <li class="navbar__list-item">
            <a class="navbar__link {{#if (eq ../currentPage this.path)}}navbar__link_active{{/if}}" href="{{this.path}}"
                onclick="{{../handleClick this.path}}">
                {{this.name}}
            </a>
        </li>
        {{/each}}
    </ul>
</nav>
