<div class="chat">
  <h2 class="title chat__title">Chats</h2>
  <div class="chat__item chat__item_active">
    <div class="photo chat__photo"></div>
    <div class="chat__user-name">Lida ☀️</div>
    <div class="chat__user-message">ахах понятно) прикольно</div>
  </div>
  <div class="chat__item">
    <div class="photo chat__photo"></div>
    <div class="chat__user-name">John )))</div>
    <div class="chat__user-message">ok</div>
  </div>
  <div class="chat__item">
    <div class="photo chat__photo"></div>
    <div class="chat__user-name">Maya</div>
    <div class="chat__user-message">да.. бывает..</div>
  </div>
  <a class="link chat__link" href="user-settings.html">User settings</a>
</div>