<div class="chat">
  <h2 class="title chat__title">Chats</h2>
  <article class="chat__item chat__item_active">
    <div class="photo chat__photo"></div>
    <p class="chat__user-name">Lida ☀️</p>
    <p class="chat__user-message">ахах понятно) прикольно</p>
  </article>
  <article class="chat__item">
    <div class="photo chat__photo"></div>
    <p class="chat__user-name">John )))</p>
    <p class="chat__user-message">ok</p>
  </article>
  <article class="chat__item">
    <div class="photo chat__photo"></div>
    <p class="chat__user-name">Maya</p>
    <p class="chat__user-message">да.. бывает..</p>
  </article>
  <a class="link chat__link" href="user-settings.html">User settings</a>
</div>
