<div class="input-block__input-wrapper">
  <label class="input-block__input-label" for="{{name}}">{{label}}</label>
  <input class="input-block__input" type="password" name="{{name}}" id="{{name}}" />
</div>
