<div class="message-block">
  <div class="title message-block__title">Lida ☀️</div>
  <div class="message-block__content">
    <p class="message-block__message">
      ахах понятно) прикольно
    </p>
    <p class="message-block__message message-block__message_incoming">
      У коллеги в чате gpt по подписке я сгенерила эту фотку, правда у Киры
      получилось три руки )))</p>
  </div>
  <form class="message-block__message-panel">
    <input class="input message-block__input" type="text" name="message" id="message" placeholder="Type here.." />
    <button class="button message-block__button" type="submit">Send</button>
  </form>
</div>
