<nav class="navbar">
  <ul class="navbar__list">
    <li class="navbar__list-item">
      <a class="navbar__link" href="/">Messenger</a>
    </li>
    <li class="navbar__list-item">
      <a class="navbar__link" href="sign-in.html">Sign in</a>
    </li>
    <li class="navbar__list-item">
      <a class="navbar__link" href="sign-up.html">Sign up</a>
    </li>
    <li class="navbar__list-item">
      <a class="navbar__link" href="page-500.html">500</a>
    </li>
    <li class="navbar__list-item">
      <a class="navbar__link" href="page-404.html">404</a>
    </li>
    <li class="navbar__list-item">
      <a class="navbar__link" href="user-settings.html">User settings</a>
    </li>
  </ul>
</nav>
