<div class="auth-form">
  <h1 class="title auth-form__title">Welcome back</h1>
  <form class="auth-form__form">
    {{>input-text label='Login' name='login'}}
    {{>input-password label='Password' name='password'}}
    <button class="button auth-form__button" type="submit">Sign in</button>
  </form>
  <a class="link" href="sign-up.html">Create account</a>
</div>
