<div class="sign-in">
  <h1 class="title sign-in__title">Welcome back</h1>
  {{>input-text label='Login' name='login'}}
  {{>input-password label='Password' name='password'}}
  <button class="button sign-in__button">Sign in</button>
  <a class="link" href="sign-up.html" >Create account</a> 
</div>