<div class="user-settings">
  <h1 class="title user-settings__title">User settings</h1>
  <div class="user-settings__content">
    <div class="user-settings__block">
        <div class="photo user-settings__photo"></div>
        <a class="link" href="#" >Change photo</a>
    </div>
    <div class="user-settings__block">
        {{>input-text label='First name' name='first_name'}}
        {{>input-text label='Second name' name='second_name'}}
        {{>input-text label='Display name' name='display_name'}}
        {{>input-text label='Login' name='login'}}
        {{>input-text label='email' name='email'}}
        {{>input-phone label='Phone' name='phone'}}
        {{>input-password label='Old password' name='old_password'}}
        {{>input-password label='New password' name='new_password'}}  
    </div>
  </div>
  <div  class="user-settings__button-panel">
    <button class="button user-settings__button">Save</button> 
    <a class="link user-settings__link" href="sign-in.html" >Log out</a> 
  </div>  
</div>