<div class="user-settings">
  <h1 class="title user-settings__title">User settings</h1>
  <form>
    <div class="user-settings__content">
      <div class="user-settings__block">
        <img class="photo user-settings__photo" src="" id="image" />
        <button class="user-settings__button-change-photo" id="changePhoto" type="button">
          Change photo
        </button>
        <input class="user-settings__hidden-input" type="file" id="avatar" name="avatar" accept="image/*" />
      </div>
      <div class="user-settings__block">
        {{>input-text label='First name' name='first_name'}}
        {{>input-text label='Second name' name='second_name'}}
        {{>input-text label='Display name' name='display_name'}}
        {{>input-text label='Login' name='login'}}
        {{>input-text label='email' name='email'}}
        {{>input-phone label='Phone' name='phone'}}
        {{>input-password label='Old password' name='oldPassword'}}
        {{>input-password label='New password' name='newPassword'}}
      </div>
    </div>
    <button class="button user-settings__button" type="submit">Save</button>
  </form>
  <a class="link" href="sign-in.html">Log out</a>
</div>
