.error-page {
  flex-direction: column;
  background-color: var(--violet-background-dark, gray);
  height: 100%;
  width: 100%;
  display: flex;

  &__container {
    margin: auto;
  }

  &__text {
    font-weight: 700;
    font-size: 48px;
    color: var(--violet-dark, blueviolet);
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  }

  &__link {
    margin-top: 30px;
  }
}
