<p class="message-block {{#unless isMine}}message-block_incoming{{/unless }}">
    <span class="message-block__accent">{{senderName}}:</span> {{text}}<br />
    <span class="message-block__datetime">{{formatDatetime}}</span>
</p>
